version: 2.0
jobs:
 build:
   docker:
     - image: circleci/node:10-browsers
   steps:
     - run:
         name: Tests
         command: |
           echo 'Running tests'
           python3 -m unittest discover -s tests -p *_test.py

