version: 2.0
jobs:
 build:
   docker:
     - image: circleci/python:3.6.4
   steps:
     - run:
         name: Tests
         command: |
            echo 'Install Dependecies'
            sudo pip install nose

            echo 'Running tests'
            nosetests
